{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Added to Cart</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-success text-center">
        <h4>Item added to your cart!</h4>
        <a href="{% url 'orderlist' %}" class="btn btn-primary mt-3">View Cart</a>
        <a href="{% url 'index' %}" class="btn btn-secondary mt-3">Continue Shopping</a>
    </div>
</div>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>